@font-face{
    src: url("../font.woff");
    font-family: "font.woff";
    
}
@font-face{
    src: url("../kqq.woff2");
    font-family: "kqq.woff2";
}

@font-face{
    src: url("../q1.woff2");
    font-family:"q1.woff2";
        
}