html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

.burger{
    margin: 0;
    padding: 0;
    background-image: url("http://i.imgur.com/wA4E4RE.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 50rem;
}
header{
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: auto;
}
nav{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -550px;
     
}
ul{
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
}
li{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    list-style:none;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-family: "muli";
    font-weight: bold;
    text-shadow: 1px 1px #000; 
}
.logo-middle{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 48px;
    position: relative;
    text-align: center;
    top: -500px;
    text-transform: capitalize;
    color: #fff;
    font-family:"muli";

}
.dusty{
    font-family:"pacifico";
    font-size: 80px;
    position: relative;
   
}
.buns-li{
    color: #fff;
    text-decoration: none;
    font-family: muli, sans;
    
}
/*font colors and fonts*/
.buns-li:hover{
    background-color: #bccf3d;
    padding: 15px;
}