html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: #525252;
    font-family: "muli", sans-serif;
    font-weight: 300;
}
.career-header{
    width: 100%;
    margin: 0;
    
}
nav{
    
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px;
    z-index: 5;
    position: fixed;
    background-color: #fff;
    
    
}
.career-home{
    margin: 0 ;
    padding: 0;
    width: 100%;
    text-align: center;
    
}
.career-li{
    display: inline-block;
    width: calc(100%/7);
    float: left;
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 25px;
    
}

.buns-li{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.buns-li:hover{
    color:#bccf3d; 
}
.bistro{
    list-style: none;
    padding: 8px;
    width: 180px;
    
}
.locations{
    text-decoration: none;
    color: grey;
   
    
}

.bistro2{
    list-style: none;
    padding: 5px;
    padding-top: 10px;
    width: 250px;
}
.locations:hover{
    background-color:#bccf3d; 
    padding: 10px;
    width: 100%;
}
#downward{
    display:none;
}
.sf-li{
    display: none;
}
#downward:checked~.sf-li{
    display: block;
/*    background-color: #f5f5f5;*/
    
}
/*dropdown for catering*/
.catering{
    display: none;
}
#buns-2{ 
    display: none;
}
#buns-2:checked~.catering{
    display: block;
}
/*font size for main logo*/
.font-dusty{
    font-family: pacifico;
    padding: 0;
    margin: 0;
    
}
.font-lg{
    font-size: 32px;
}
.career-main{
    background-image: url("http://i.imgur.com/5YwUHSz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}
.img-div{
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 15px;
    padding-top: 180px;
    
}
.dusty{
    font-size: 52px;
    text-transform: capitalize;
    font-family: pacifico;
    color: #bccf3d;
    
}
.small-font{
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    
}
.sec-career{
    width: 80%;
    margin: auto;
    padding: 15px;
}
.left-text{
    color: gray;
    font-size: 16px;
    padding: 5px;
    width: 75%;
    float: left;
    line-height: 2;
    
}
.right-text{
    float: left;
    width: 22%;
    padding-bottom: 25px;
    border-bottom: solid 1px #bccf3d;
    
}
.right-text2{
    width: 25%;
    padding: 0;
    margin: 0;
    height: 150px;
    float: right;
    border-bottom: solid 1px #bccf3d;
}
.require{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    padding: 5px;
    
    
}
.require:hover{
    color: black;
}
.skill-li{
    width: 60%;
    float: left;
    
}
.green-text{
    font-size: 42px;
    color:#bccf3d;
}
.skill{
    font-size: 18px;
    text-transform: capitalize;
}
.footer{
    float: left;
    width: 100%;
    background-image: url("http://i.imgur.com/7qJwgPk.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: 30vh;
}
.main-footer{
    width: 80%;
    margin: auto;
    padding: 0;
    height: auto;
    
}
.dusty-small{
    color: #fff;
    font-size: 32px;
    font-family: pacifico;
    text-transform: capitalize;
    padding: 15px;
    float: left;
}
.copyright{
    color: yellow;
    font-size: 18px;
    width: 25%;
    clear: both;
    padding: 20px;
    float: left;
}
.footer-font{
    font-size: 28px;
    color: #fff;
    float: right;
    font-family: muli;  
}

.contact-info{
    width: 80%;
    margin: auto;
    padding: 0;
}
.section-sm{
    width: 33%;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 550;
}
.social-media{
    font-size: 16px;
    color: grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.social-media:hover{
    color: black;
}
/*need to put in detail*/
.yellow-media{
    color: #ffc300;
    font-size: 24px;
    text-transform: uppercase;
}
.grey-line{
    color: lightgray;
    width: 10%;
}

.contact-main{
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.yellow{
    margin: 0;
    padding: 0;
    font-size: 52px;
    font-family: pacifico;
    text-transform: capitalize;
    text-align: center;
    color: #ffc300;
    padding-top: 80px;
}
/*google maps */
#googleMap{
    width: 60%;
    margin: auto;
}
/*
about page css
header and footer same as other pages*/
.white-block{
    padding: 30px;
}
.about-topimg{
    background-image: url("http://i.imgur.com/XRWj9Kz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.white-dusty{
    width: 100%;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    font-family: pacifico;
    color: #fff;
    padding-top: 190px;
}
.padding-top{
    transform: translateY(230%);
}
.about-main{
    width: 95%;
    margin:auto;
    padding: 20px;
    
}
.photo{
    width: 100%;
    float: left;
    
    
}
.award-photo{
    width: 50%;
    float: left;
    padding: 15px;
}
.our-text{
    font-family: pacifico;
    color:#bccf3d;
    font-size: 38px;
    margin: 0;
    padding: 0;
      
}

.mid-text{
    font-size: 16px;
    color: gray;
    line-height: 2;  
}


/*greet-text class in careers and left text*/
.green-bg{
    width: 100%;
    height: 90vh;
    background-color:#bccf3d;
    background-size: cover;
    float: left;
}
.white-dusty{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.img-slider{
   width: 95%;
    margin: auto;
}
.slider{
   width: 30%;
    float: left; 
    background-color: #fff;
    height: 450px;

}
.one{
    margin-right: 15px;
}
.meal-photos{
    width: 100%;
    padding-bottom: 25px;
}
.padding{
    padding-bottom: 80px;
}
.meals{
    color: #ffc300;
    text-decoration: none;
    font-size: 22px;
   
}
.meals:hover{
    color:black;
}
.margin-right{
    padding-left: 15px;
}

/*catering pages*/
.special-body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.special{
    background-image: url("http://i.imgur.com/SIGCCYm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 190vh;
}
.yellow-top{
    margin: 0;
    padding: 0;
    font-family: pacifico;
    color:#ffc300;
    font-size: 72px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    
}
.white-special{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.special-img{
    width: 85%;
    margin: auto;
    padding-top:50px;
}
.left-special{
    width: 50%;
    height: auto;
    float: left;
    margin: 5px;
    
}
.truck{
    
}
.special-text{
    font-size: 16px;
    color: #fff;
    line-height: 2;
    
}
.form{
    width: 40%;
    float: right;  
}
.form>input{
    background-color: transparent;
    height: 50px;
    border: solid 1px #ccc;
    color: #fff;
    font-size: 16px;
    line-height: 2;
    padding: 10p 15px;
    border-radius: 3px;
    
}

.name{
    width: 80%;
    padding-left: 15px;
    letter-spacing: 1px;
    margin: 15px
}
.phone{
    width: 35%;
    margin: 15px;
    padding-left: 15px;
    
}
.white-forms{
    float: left;
    width: 40%;
    margin: 15px;
    
    
}
.left-location{
    clear: both;
}
.date{
    font-size: 16px;
    color: #fff;

}
.solid-white{
     background-color: transparent;
    height: 50px;
    border: solid 1px #ccc;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;

}
option{
    color: black;
}
.float-left{
    float: left;
    padding-top: 55px;
    padding-left: 15px;
}
.bottom-form{
    width: 45%;
    float: right;
}
.service-time{
    width: 70%;
    margin: auto;
    font-size:18px; 
    color: #fff;
    padding: 15px;
}
.bar-service{
    width: 70%;
    margin: auto;
    display: block;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border: solid 1px #ccc;
    margin-top: 10px;
    border-radius: 3px;
}

.message{
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 25px;
    
}
textarea{
    font-family: mulil, sans-serif;
    font-size: 16px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: transparent;
    
}
button{
    margin: auto 0;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    background-color: #ffc300;
    font-family: muli;
    font-weight: bold;
    margin-top: 10px;
    border-style: none;
}
.yellow-button{
     color: #fff;
    text-decoration: none;
}
button:hover{
    background-color: black;
}


/*fresno box css */
.lunch-box{
    width: 90%;
    margin: 0;
    padding-top: 25px;
}
.fresno-form{
    width: 100%;
    font-size: 62px;
    font-family: pacifico;
    text-transform: capitalize;
    margin: auto;
    text-align: center;
}
.form-text{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.marked{
    display: inline-block;
    width: 60%;
    margin:0 auto;
    padding-left:255px;
    padding-top: 15px
}
.red{
    color: red;
    font-size: 18px;
   
}
.contact-form{
    width: 60%;
    margin: auto;
    padding-top: 25px;
    
}
.con-info{
    font-size: 48px;
    text-transform: capitalize;
}
.width{
    width: 100%;
    
}
.data{
    text-transform: capitalize;
    font-size: 18px;
}
.jane{
    width: 100%;
    height: 30px;
    border: solid gray 1px;
    
}
.menu-order{
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.order{
    width: 20%;
    height: 35px;
    border: solid gray 1px;
    line-height: 2;
    margin-left: 8px;
    padding-left: 5px;
}
.total{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    
}
.grey{
    background-color: lightgrey;
}
.submit{
    border-style: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
}