html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

.burger{
    margin: 0;
    padding: 0;
    background-image: url("http://i.imgur.com/wA4E4RE.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 50rem;
}
header{
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: auto;
}
nav{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -550px;
     
}
ul{
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
}
li{
    width: 85%;
    margin: 0 auto;
    padding:0;
    display: inline-block;
    list-style:none;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-family: "muli";
    font-weight: bold;
    text-shadow: 1px 1px #000; 
}
.logo-middle{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 48px;
    position: relative;
    text-align: center;
    top: -420px;
    text-transform: capitalize;
    color: #fff;
    font-family:"muli";

}
.dusty{
    font-family:"pacifico";
    font-size: 80px;
    position: relative;
   
}
.buns-li{
    color: #fff;
    text-decoration: none;
    font-family: muli, sans;
    
}
/*font colors and fonts*/
.buns-li:hover{
    background-color: #bccf3d;
    padding: 15px;
    border: 1px solid #fff;
}

/*dropdown and li*/
.downward{
    display: ;
}
.sf-li{
    height: 150px;
    background-color: #f5f5f5;
    display: none;
}
.downward:checked~.sf-li{
    display: block;
    
}
.bistro{
    width: 180px;
    height: 30px;
    padding-top: 15px;
    text-align: left;
    padding-left: 10px
    
}

.locations{
    text-decoration: none;
    color: black;
    font-family: muli;
    font-weight: 400;
    font-size: 14px;
}
.buns-2{
    
}
.buns-2:checked~.catering{
    display: block;
}
.catering{
    height: 150px;
    background-color: #f5f5f5;
    display: none;
}

.bistro2{
     width: 180px;
    height: 30px;
    padding-top: 15px;
    text-align: left;
    padding-left: 10px
}
.yellow{
    color: #ffc300;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: solid;
}