html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}
body{
    color: #525252;
    font-family: "muli",sans-serif;
    font-weight: 300;
    
}
.burger{
    margin: 0;
    padding: 0;
    background-image: url("http://i.imgur.com/wA4E4RE.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height: 100vh;
}
/*
header{
    margin: 0 auto;
    padding: 0;
    height: auto;
}
*/
nav{
    width: 90%;
    margin: 0 auto;
    padding: 25px;
     
}
ul{
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
}
li{
    width: 90%;
    margin: 0 auto;
    padding:0;
    display: inline-block;
    list-style:none;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    font-family: "muli";
    font-weight: bold;
    text-shadow: 2px 2px #000; 
}
.logo-middle{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-family:"muli";
    position: absolute;
    z-index: 2;

}
.dusty{
    font-family:"pacifico";
    font-size: 80px;
   
   
}
.buns-li{
    color: #fff;
    text-decoration: none;
    font-family: muli, sans;
    
}
/*font colors and fonts*/
.buns-li:hover{
    background-color: #bccf3d;
    padding: 15px;
    border-radius: 4px;

}

/*dropdown and li*/
#downward{
    display:none;
}
.sf-li{
    height: 150px;
    background-color: #f5f5f5;
    display: none;
    width: 140px;
    padding-left: 10px;
}
#downward:checked~.sf-li{
    display: block;
    border: 1px solid #fff;
    
}
.bistro{
    width: 160px;
    height: 30px;
    padding-top: 15px;
    text-align: left;
    padding-left: 10px
    
}

.locations{
    text-decoration: none;
    color: black;
    font-family: muli;
    font-weight: 400;
    font-size: 14px;
    text-shadow: none;
    

}
.locations:hover{
    background-color:#bccf3d;
    padding: 10px;
}
#buns-2{
    display: none;
}
#buns-2:checked~.catering{
    display: block;
}
.catering{
    height: 150px;
    background-color: #f5f5f5;
    display: none;
    width: 230px;
    padding-left: 10px
    
}

.bistro2{
     width: 240px;
    height: 30px;
    padding-top: 15px;
    text-align: left;
    padding-left: 10px
}
.middle-text{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.yellow{
    color: #ffc300;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: solid;
    
}

.info{
    font-size: 18px;
    line-height: 2;
}
main{
    width:100%;
    height: auto;
    margin: 0;
    padding: 0;
    height: 900px;
    margin-top: 100px;
    
}
.bistro-location{
    width: 85%;
    height: 50%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top:-95px;
    

}
.top-left{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.lg-img{
    width: 50%;
    height: 100%;
    float: left
}
.salad{
    width: 100%;
    height: 100%;
}
.green{
    width: 50%;
    float: left;
    height:100%;
    background-color: #bccf3d;
    text-align: center;

}
.fa{
    padding-top: 10px;
}
.font-awesome{
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0;
    margin:0; 
    padding-top: 10px;

}

.text-location{
    font-size: 16px;
    color: #fff; 
    line-height: 1.5;
}
hr{
    width: 15%;
    color: #fff;
}
.tele{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}
.tele:hover{
    color: black;
    text-decoration: underline;
}
.top-right{
   width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.sm-info{
    width: 50%;
    height: 50%;
    float: left;
    margin: 0;
    padding: 0;
}
.orange{
    background-color: #ffc300;
    text-align: center;
}
.pics-home{
    width: 100%;
    height: 100%;
}


.wood-img{
    background-image: url("http://i.imgur.com/QpDhcuw.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    
}

.bottom-half{
    width: 85%;
    height: 50%;
    margin: auto;
    padding: 0;
     position: relative;
    top:-95px;
    
}

.bottom-left{
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 50%;
    height: 100%;
}
.bm-info{
     width: 50%;
    height: 50%;
    float: left;
    margin: 0;
    padding: 0;
}
.bottom-right{
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;
    height: 100%;
}
/*social media css*/
.contact-info{
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
    top: -120px;
}
.section-sm{
    width: 33%;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 550;
    padding-bottom: 10px;
}
.social-media{
    font-size: 16px;
    color: grey;
    padding:0;
    text-align: center;
    text-decoration: none;
}
.social-media:hover{
    color: black;
}
/*need to put in detail*/
.yellow-media{
    color: #ffc300;
    font-size: 24px;
    text-transform: uppercase;
}
.grey-line{
    color: lightgray;
    width: 10%;
}
.home-footer{
    float: left;
    background-image: url("http://i.imgur.com/7qJwgPk.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    height: 30vh;
    opacity: .9;
    background-color:grey;
    width: 100%;
    background-blend-mode: multiply;
   
}
.main-footer{
    width: 100%;
    margin: auto;
    padding: 0;  
}
.left-side{
    width: 25%;
    text-align: center;
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
    padding-top: 50px;
}
.dusty-small{
    color: #fff;
    font-size: 36px;
    font-family: "pacifico";
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
    
}
.copyright{
    color:#ffc300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "muli";
    
}
.footer-font{
    font-size: 26px;
    color: #fff;
    float: right;
    font-family: "muli";
    font-weight: bold;
    padding-top: 80px;
    width: 60%;
    text-align: center;
    
}
.menu{
    width: 105%;
}
.order-form{
    color: grey;
    text-decoration: none;
}
.large-font{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.8;
}
.sando{
    line-height:1.5;
}
.grey-bistro{
    font-size: 16px;
}
/*font awesome and dropdown*/
.bars{
    font-size: 28px;
    color: #fff;
    float: right;
    margin-right: 20px;
   
}
.bar-label{
   visibility: hidden; 
}
#main-drop{
    display: none;
}

@media only screen and (max-width:900px){
    li{
        font-size: 16px;
    }
    .bar-label{
       visibility: visible;
    }
    nav{
        display: none;
    }
    #main-drop:checked~nav{
        display: block;
    }
   
}
@media only screen and (max-width:70rem){
    li{
        font-size: 14px;
    }
    .menu-buns:hover{
        padding: 0;
        padding-top: 15px;
        padding-bottom:15px;
        background-color: transparent;
    }
    
    .middle-text{
       padding-top: 0;
        padding-bottom: 0;
    }
}
@media only screen and (max-width:50rem){
    nav{
        display: block;
    }
    ul{
        display: block;
    }
    li{
        font-size: 14px;
        display: block;
        width: 100%;
        clear: both;
        height: 35px;
    
    }
}
